version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 10
    labels:
      - T:dependencies
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    labels:
      - T:dependencies
  - package-ecosystem: docker
    directory: "/docker"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    labels:
      - T:dependencies
