coverage.txt
proto/pb
proto/tendermint
types/pb/tendermint
.vscode/launch.json
.vscode/settings.json
vendor
*/**.html
*.idea
*.env
.*env
build
.aider*
.DS_Store
coverage.out
execution/evm/jwttoken
target