coverage.txt
proto/pb
proto/tendermint
types/pb/tendermint
.vscode/launch.json
.vscode/settings.json
*/**.html
*.idea
*.env
.*env
build
.aider*
.DS_Store
coverage.out
.vitepress/dist
node_modules
.vitepress/cache/**
.vite_opt_cache