name: mockserv Docker Build & Publish

# Trigger on all push events, new semantic version tags, and all PRs
on:
  push:
    branches:
      - "**"
    tags:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'
      - 'v[0-9]+\.[0-9]+\.[0-9]+-rc(?:[0-9]+|\.[0-9]+)'
  pull_request:

jobs:
  docker-security-build:
    permissions:
      contents: write
      packages: write
    uses: rollkit/.github/.github/workflows/reusable_dockerfile_pipeline.yml@v0.2.2 # yamllint disable-line rule:line-length
    with:
      dockerfile: docker/mockserv.Dockerfile
      packageName: mockserv
